{% liquid 
  if settings.show_currency_code
    assign current_variant_price = current_variant.price | money_with_currency
  else 
    assign current_variant_price = current_variant.price | money
  endif

  if customer.tags contains 'B2B'
    # assign amount_off = current_variant.price | times: 0.19
    # assign left_over = current_variant.price | minus: amount_off
    # assign current_variant_price = left_over | money

    assign current_variant_price = current_variant.price | divided_by: 1.19 | money
  endif
%}

<span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
<span 
  data-product-price id="ProductPrice" itemprop="price"
  content="{{ current_variant.price | divided_by: 100 }}"
>
  {% unless current_variant %}
    {{ 'products.product.unavailable' | t }}
  {% else %}
    <span 
      data-price-text data-unavailable-text="{{ 'products.product.unavailable' | t }}" 
      class="money"
    >
      {{ current_variant_price }}
    </span>
  {% endunless %}
</span>
